name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}] # Runs every day at midnight
  workflow_dispatch:              # Allows you to run it manually
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: athar9373
          template: classic
          base: header, activity, community, repositories
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
