name: Generate 3D Metrics
on:
  schedule:
    - cron: "0 0 * * *" # Runs every 24 hours
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          filename: profile-3d-pink.svg
          base: ""
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
          # Custom Pink & Yellow Palette
          config_timezone: Asia/Kolkata
          # The line below forces the theme to match your profile colors
          config_padding: 0, 8 + 11%
          config_display: columns
