name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *" # Runs every 12 hours
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    
    steps:
      - name: Generate github-contribution-grid-snake.svg
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: athar9373
          outputs: |
            dist/github-contribution-grid-snake.svg?color_snake=#e8df7a&color_dots=#f0f0f0,#9b0054,#c9006c,#ff79c6,#ea4d95
            dist/github-snake-dark.svg?palette=github-dark&color_snake=#e8df7a&color_dots=#161b22,#9b0054,#c9006c,#ff79c6,#ea4d95

      - name: Push to output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
