name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *" # Runs every 12 hours
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    
    steps:
      - name: Generate github-contribution-grid-snake.svg
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: athar9373
          # Modified outputs to include your custom colors
          outputs: |
            dist/github-contribution-grid-snake.svg?color_snake=yellow&color_dots=#f0f0f0,#ffc0cb,#ff69b4,#ff1493,#c71585
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark&color_snake=yellow&color_dots=#161b22,#ffc0cb,#ff69b4,#ff1493,#c71585

      - name: Push to output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
